html {
  font-family: Helvetica,Verdana,sans-serif;
}

a {
  color: rgb(41, 132, 120);
}

.header {
  background-color: rgb(41, 132, 120);
  height: 56px;
}

body {
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 0px;
}

.header h1 {
  text-align: right;
  padding: 10px 20px
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0 20px 0;
}

td {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid lightgray;
}

th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  border-bottom: 1px solid lightgray;
}

.podcast-title {
  margin-top: 20px;
}

.small {
  font-size: smaller;
  margin-top: 0px;
}

.todo p {
  margin-bottom: 0px;
  color: rgb(41, 132, 120);
}
.todo ul {
  margin-top: 0px;
}